nav.nav.border--t-dim-white.border--b-dim-white
   section.container.margin--center
      section.wrap.wrap--nav.display--fl
         section.menu.menu--cat.nav__select--cat.border--r-dim-white.border--l-dim-white
            a.btn.btn--cat.cursor--pointer(href="#")
               span.btn__text.btn__text--cat.font.font--med.text--small.color--dark-gray.position--r All Categories
            ul.nav__list.nav__list--cat.display--none
               
               - for (let i = 0; i < 6; i++)
                  li.nav__li Category #{i+1}
                  
         section.menu.menu--nav.display--fl.fl--align-c.fl--grow-1
            
            - const menuNav = ['Super Deals', 'Featured Brands', 'Collections', 'Bestselling'];
            - for (let i = 0; i < menuNav.length; i++)
               a.menu__link.menu__link--nav.font.font--med.text--small.color--dark-gray.cursor--pointer(href="#")=menuNav[i]
            
            a.btn.btn--menu.cursor--pointer(href="#")
               span.btn__text.btn__text--menu.font.font--med.text--small.color--dark-gray.position--r Menu
         section.menu.menu--filter.display--fl
            section.nav__select.display--fl.fl--align-c.border--l-dim-white
               a.btn.btn--info.cursor--pointer(href="#")
                  span.btn__text.btn__text--info.font.font--med.text--small.color--gray.position--r Help
               ul.nav__list.display--none
                  
                  - for (let i = 0; i < 2; i++)
                     li.nav__li.font.font--med.text--small.color--gray.cursor--pointer Item #{i+1}
                     
            section.nav__select.display--fl.fl--align-c.border--l-dim-white
               a.btn.btn--info.cursor--pointer(href="#")
                  span.btn__text.btn__text--info.font.font--med.text--small.color--gray.position--r USD
               ul.nav__list.display--none
                  
                  - const currency = ['USD', 'RUB', 'UAH'];
                  - for (let i = 0; i < currency.length; i++)
                     li.nav__li.font.font--med.text--small.color--gray.cursor--pointer=currency[i]
                     
            section.nav__select.display--fl.fl--align-c.border--l-dim-white.border--r-dim-white
               a.btn.btn--info.cursor--pointer(href="#")
                  span.btn__text.btn__text--info.font.font--med.text--small.color--gray.position--r Language
               ul.nav__list.display--none
                  
                  - const lang = ['en', 'ru', 'ua'];
                  - for (let i = 0; i < lang.length; i++)
                     li.nav__li.font.font--med.text--small.color--gray.cursor--pointer=lang[i]
